body {
	margin: 0;
	background-image: url(../images/19.jpg);
	background-repeat: repeat;
	font-family: cursive;
	font-weight:bold;
}

.main-header {
	width: 79%;
	margin: auto;
	height: 250px;
}

header {
	background: #012333;
	width:1344px;
	height:110px;
	margin-left: 0px;
	margin-right:3px;
}

header::after {
	content: "";
	display: table;
	clear: both;
}

.image {
	float: center;
	padding: 0px;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 10px 20px;
	list-style: none;
	text-align:left;

}

nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 20px;
	position: relative;
}

nav a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 29px;
	font-weight: bold;
}

nav a:hover {
	color: #000;
}

nav a::before {
	content: "";
	display: block;
	height: 5px;
	width: 0px;
	background-color: white;
	position: absolute;
	top: 0;
	width: 0;
	transition: all ease-in-out 250ms;
}

nav a:hover::before {
	width: 100%;
}


.CAPS {
	margin: 20px 45px 10px 45px;
  	grid-gap: 10px;
 	grid-template-columns: 1fr;
 	text-align: center;
 	font-family:serif;
 	font-size: 36px;
	color:black;
}

.CAPS h1{
	color:gold;
	font-style:italic;
	font-weight:bold;
	font-size: 60px;
}

.container {
  padding: 50px;
  background-color: #012333 ;
}

.container p{
	font-size:22px;
	color:wheat;
}

.container h2{
	font-size:30px;
	color:wheat;
	font-weight:bold;
}

input[type=text], input[type=submit] {
  width: 50%;
  padding: 12px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #008b8b;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}


.social {
	background-image: url(../images/footer2.jpg);
	background-attachment: fixed;
	background-size:cover;
	opacity: 0.7;
	padding: 60px;
	padding-bottom: 10px;
	width:189vh;
	height:145px;
}

#media {
	display: flex;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	margin-top: 10px;
	padding-left: 500px;
	padding-right: 500px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#media li {
	list-style: none;
}

#media li a {
	height: 50px;
	width: 50px;
	background: #fff;
	text-align: center;
	line-height: 50px;
	font-size: 35px;
	margin: 0 10px;
	display: block;
	border-radius: 50%;
	border: 3px solid #fff;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

#media li a .fa {
	position: relative;
	color: #262626;
	transition: .5s;
	z-index: 3;
}

#media li a:hover .fa {
	transform: rotateY(360deg);
}

#media li a:before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffafa0;
	transition: .5s;
	z-index: 2;
}

#media li a:hover:before {
	top: 0;
}

#media li:nth-child(1) a:before {
	background: #3b5999;
}

#media li:nth-child(2) a:before {
	background: #dd4b39;
}

#media li:nth-child(3) a:before {
	background: #e4405f;
}

#media li:nth-child(4) a:before {
	background: #55acee;
}

#media li:nth-child(5) a:before {
	background: #0077B5;
}

#foot {
	margin-top: 60px;
	margin-bottom: 20px;
	text-align: center;
	font-size:25px;
	color:black;
}
